@import url(m_style.css);
html,
body,
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container header {
  width: 100%;
  height: 0.89rem;
  background: #fa495a;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.container header img {
  width: 0.35rem;
  height: auto;
  margin-left: 0.4rem;
}
.container header h3 {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 0.32rem;
  color: #fff;
  margin-right: 0.4rem;
}
.container section {
  -webkit-box-flex: 1;
}
.container section .main1 {
  width: 100%;
  height: 2.44rem;
  background: #ffc0cb;
}
.container section .main1 p {
  font-size: 0.26rem;
}
